.ui-contact-card {
    border: $border-width $border-style $color-grey-2;
    padding: $gutter;

    .ui-card__title {
        margin-block-end: 0;
    }

    a:not([class]) {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    address {
        font-size: $font-size;
    }

    .ui-ratings {
        margin-block-end: -$gutter;
        margin-inline-end: -$gutter;
        margin-inline-start: -$gutter;
        padding-inline-end: $gutter;
        padding-inline-start: $gutter;
    }

    // Person details card with an image.
    &--person {
        @include card-media-top;
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(ui-contact-card) {
    @include ui-contact-card;
}
