@mixin mobile-grid-cols {
    // Home link width constrained by minmax so icon can flex-shrink.
    grid-template-columns: minmax(auto, 20vw) auto minmax(50vw, 1fr);
}

.ui-header {
    /* stylelint-disable max-nesting-depth */
    @at-root {
        // Place sticky header CSS Grid items in 1 row.
        .is-js-sticky & {
            // Only show sticky header on large screens.
            @include bp-large {
                align-items: center;
                grid-template-areas: 'home nav search other1 other2';
                grid-template-columns: auto auto minmax(30vw, 1fr) auto minmax(
                        30vw,
                        1fr
                    );
                grid-template-rows: minmax(
                    $layout-header-grid-row-height,
                    auto
                );
            }

            @include bp-medium {
                padding-block-start: 0;
            }
        }

        .is-js-sticky &__home {
            .ui-image {
                height: $icon-size-home-mobile;

                &.is-hidden-on-large {
                    /* stylelint-disable-next-line declaration-no-important */
                    display: block !important;
                }

                & + .ui-image {
                    display: none;
                }
            }
        }
    }
    /* stylelint-enable max-nesting-depth */

    @include mobile-grid-cols;
    @include bp-medium {
        grid-template-areas:
            'home nav nav nav other1'
            'search search other2 other2 other2';
        grid-template-columns: auto 1fr 1fr auto 1fr auto;
        grid-template-rows: repeat(
            2,
            minmax($layout-header-grid-row-height, auto)
        );
        padding-block-start: $gutter-xs;
    }
    background-color: $color-background;
    display: grid;
    gap: $gutter-xs;
    grid-template-areas:
        'home nav other1'
        'other2 other2 other2'
        'search search search';
    // Set last row to 'auto' so this allows the row to collapse to 0 if there's no search form HTML rendered.
    /* stylelint-disable-next-line prettier/prettier */
    grid-template-rows:
        repeat(2, minmax($layout-header-grid-row-height-mobile, auto))
        auto;

    &__home {
        align-items: center;
        grid-area: home;
        justify-content: flex-start;
        padding: 0;

        .ui-image {
            @include bp-xsmall {
                height: auto;
            }
            @include bp-medium {
                height: $icon-size-home;
            }
            flex-shrink: 1;
            height: $icon-size-home-mobile;
            width: auto;

            & + .ui-image {
                /* stylelint-disable-next-line max-nesting-depth */
                @include bp-large {
                    display: block;
                }
                display: none;
            }
        }
    }

    &__nav {
        grid-area: nav;
    }

    &__other1 {
        grid-area: other1;
    }

    &__search {
        grid-area: search;
    }

    &__other2 {
        grid-area: other2;
    }

    // Vertical header
    &--vertical {
        @include bp-medium {
            align-items: center;
            flex-direction: column;
            height: 100%;
            justify-content: flex-start;
        }

        display: flex;
        justify-content: space-between;

        .ui-header__home {
            margin: 0;
            padding: $gutter-xs;
        }
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(ui-header) {
    @include ui-header;
}
