.kb-product-search {
    .kb-form__legend {
        text-align: center;
        width: 100%;
    }

    .kb-form__label {
        > span:not([class]):first-child {
            @include visually-hide;
        }
    }

    .kb-button {
        margin: 0;
    }

    .kb-grid {
        @include responsive-grid($centered: true);

        > * {
            @include bp-small {
                margin-inline-end: auto;
                margin-inline-start: auto;
                min-width: 0;
            }
        }
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(kb-product-search) {
    @include kb-product-search;
}
