.ui-product-specs {
    margin-block-end: $gutter-xl;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        align-items: center;
        background-color: $color-grey-3;
        color: $color-text-alt;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: $gutter-s;

        .ui-icon {
            height: 1.5em;
            margin-block-end: $gutter-xs;
            width: 1.5em;
        }
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(ui-product-specs) {
    @include ui-product-specs;
}
