.ui-product-specs {
    margin-block-end: $gutter-xl;

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        align-items: center;
        background-color: $color-grey-3;
        color: $color-text-alt;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: $gutter-s;

        .ui-icon {
            height: 1.5em;
            margin-block-end: $gutter-xs;
            width: 1.5em;
        }
    }

    &__price {
        @include bp-medium {
            // Take up minimum of 25% of available space.
            flex-basis: 25%;
        }
        align-items: flex-start;
        flex-basis: 100%;
        flex-grow: 3;
        justify-content: center;

        strong {
            @include fluid-type-xl;
        }
    }

    &__actions {
        padding: 0;

        &__list {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
        }
    }

    &__action {
        background-color: transparent;
        padding: 0;

        .ui-button {
            height: 100%;
            padding: $gutter-s;
            width: 100%;
        }
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(ui-product-specs) {
    @include ui-product-specs;
}
