.ui-video-card {
    align-items: center;
    text-align: center;

    .ui-card__media {
        margin-block-end: $gutter-s;
    }

    &.ui-card--media-inline {
        text-align: start;

        &-alt {
            text-align: end;
        }
    }

    &.ui-card--media-inline,
    &.ui-card--media-inline-alt {
        .ui-card__media {
            margin-block-end: 0;
        }
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(ui-video-card) {
    @include ui-video-card;
}
