@mixin gw-typography {
    body {
        @include fluid-type-default(
            $min: $font-size-s,
            $ideal: calc(0.85rem + #{$fluid-type-target}),
            $max: $font-size
        );
    }

    h1,
    h2 {
        font-weight: 700;
    }

    h3 {
        font-weight: 400;
    }

    h4,
    h5,
    h6 {
        font-family: $font-family;
        font-weight: 400;
        text-transform: uppercase;
    }

    h5 {
        font-size: $font-size-m;
    }

    h6 {
        font-size: inherit;
    }

    /* stylelint-disable no-descending-specificity */
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:not([class]) {
            color: $color-brand;
        }
    }
    /* stylelint-enable no-descending-specificity */
    [aria-current] {
        color: $color-brand-alt;
        font-weight: normal;
    }
}
