@mixin gw-banner {
    .gw-banner {
        .gw-button {
            // Bully CSS specificity.
            &.gw-button--primary {
                &[class*='--text'] {
                    background-color: transparent;
                    border-color: $color-white;
                    box-shadow: none;

                    /* stylelint-disable max-nesting-depth */
                    &:hover:not(:disabled) {
                        background-color: transparent;
                        border-color: $color-white;
                    }
                    /* stylelint-enable max-nesting-depth */
                }
            }
        }

        &__text {
            &--large {
                @include bp-medium {
                    @include fluid-type-xl;
                }
                font-family: $font-family-title;
                font-size: $font-size-l;
            }
        }

        &__overlay {
            background-color: transparent;

            .gw-banner__inner + & {
                align-items: center;
                background-color: $color-brand;
                display: flex;
                flex-direction: column;

                .gw-banner__text,
                small {
                    text-align: center;
                }
            }
        }
    }
}
