@mixin gw-button {
    .gw-button {
        &[class*='--text'] {
            @at-root {
                [data-whatintent='keyboard'] &:focus {
                    box-shadow: inset 0 0 0 0.25rem $color-brand-alt-2;
                }
            }
            border-color: transparent;
            color: $color-brand;
            font-size: 1.125rem; // TODO: Consider creating another $font-size variable?
            font-weight: normal;
            padding-inline-end: $gutter;
            padding-inline-start: $gutter;

            &:hover {
                text-decoration: underline;

                &:disabled {
                    text-decoration: none;
                }

                &:not(:disabled) {
                    /* stylelint-disable max-nesting-depth */
                    &.gw-button--positive,
                    &.gw-button--negative {
                        text-decoration: none;
                        transform: scale(1.025);
                    }
                    /* stylelint-enable max-nesting-depth */
                }
            }
        }

        &.gw-button--primary,
        &.gw-button--positive {
            @include button-primary;
        }

        &.gw-button--secondary,
        &.gw-button--negative {
            @include button-secondary;
        }

        &.gw-button--toggle {
            @include button-secondary;

            &.is-selected {
                @include button-primary;
                /* stylelint-disable max-nesting-depth */
                @at-root {
                    [data-whatintent='keyboard'] &:focus {
                        box-shadow: inset 0 0 0 0.25rem $color-brand-alt-2;
                    }
                }
                /* stylelint-enable max-nesting-depth */
            }
        }

        &:disabled {
            color: $color-grey-2;

            &.gw-button--primary,
            &.gw-button--secondary,
            &.gw-button--positive,
            &.gw-button--negative {
                &[class*='--text'] {
                    background-color: $color-grey-2;
                    border-color: $color-grey-2;
                    box-shadow: none;
                    color: $color-text-alt;
                }
            }
        }
    }
}
