@mixin gw-product-filter {
    .gw-product-filter {
        background-color: $color-white;

        &.gw-tabs:not(.gw-tabs--vertical) {
            .gw-tabs__tablist {
                background-color: $color-grey-1;
                flex-wrap: wrap;
                padding-block-start: $gutter-xs;
            }

            .gw-tabs__button {
                @include button-secondary;
                margin-block-end: $gutter-xs;

                &[aria-selected='true'] {
                    @include button-primary;
                    box-shadow: none;
                }
            }
        }

        .gw-tabs__content {
            background-color: transparent;
        }

        &.gw-tabs--vertical {
            /* stylelint-disable no-descending-specificity */
            .gw-tabs__button[aria-selected='true'] {
                background-color: $color-brand;
                color: $color-text-alt;
            }
            /* stylelint-enable no-descending-specificity */
        }
    }
}
