@mixin gw-table {
    .gw-table {
        th {
            background-color: $color-grey-2;
        }

        &--striped {
            th {
                background-color: transparent;
                color: inherit;
            }

            tr:nth-child(odd) {
                background-color: $color-grey-2;
            }

            tr:nth-child(even) {
                background-color: $color-grey-1;
            }
        }
    }
}
