/*
----------------------------------------------------------------------------
@font-face rules.

- 'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/

@font-face {
    font-display: swap;
    font-family: 'FdAntennaRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/fdantenna/fdantenna-regular.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/fdantenna/fdantenna-regular.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/fdantenna/fdantenna-regular.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'FdAntennaCondensedExtraLight';
    font-style: normal;
    font-weight: light;
    src: url('./_THEMES/theme1/fonts/fdantenna/fdantenna-condensed-extra-light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/fdantenna/fdantenna-condensed-extra-light.woff')
            format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'FdAntennaCondensedLight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/fdantenna/fdantenna-condensed-light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/fdantenna/fdantenna-condensed-light.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/fdantenna/fdantenna-condensed-light.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'FrutigerLight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.ttf')
            format('truetype');
}
