// Promo details.
.page-20 {
    .ui-layout__fullbleed {
        background-color: $color-white;

        & + .ui-layout__has-max-width {
            margin-block-start: $gutter-xl;
        }
    }

    .ui-toolbar--promotions {
        @include bp-medium {
            padding: 0 $layout-main-bleed;
        }
        @include bp-large {
            @include layout-constraint;
            padding: 0;
        }
        padding: 0 $layout-main-bleed-mobile;

        .ui-share__button {
            margin-left: -$gutter-s;
        }
    }
}

// This mixin function calls in any THEME specific overrides from the './scss/_THEMES' folder, but only if it exists.
@if mixin-exists(page-20-promo-details) {
    @include page-20-promo-details;
}
