/*
----------------------------------------------------------------------------
@font-face rules.

- 'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/

@font-face {
    font-display: swap;
    font-family: 'LnMillerB';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme2/fonts/miller/LnMillerB-Roman.woff2')
            format('woff2'),
        url('./_THEMES/theme2/fonts/miller/LnMillerB-Roman.woff') format('woff'),
        url('./_THEMES/theme2/fonts/miller/LnMillerB-Roman.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'LnProximaNova';
    font-style: normal;
    font-weight: light;
    src: url('./_THEMES/theme2/fonts/proximanova/Ln-ProximaNova-Reg.woff2')
            format('woff2'),
        url('./_THEMES/theme2/fonts/proximanova/Ln-ProximaNova-Reg.woff')
            format('woff'),
        url('./_THEMES/theme2/fonts/proximanova/Ln-ProximaNova-Reg.ttf')
            format('truetype');
}
