@mixin kb-banner {
    .kb-banner {
        .kb-button {
            // Bully CSS specificity.
            &.kb-button--primary {
                &[class*='--text'] {
                    background-color: transparent;
                    border-color: $color-white;
                    box-shadow: none;

                    /* stylelint-disable max-nesting-depth */
                    &:hover:not(:disabled) {
                        background-color: transparent;
                        border-color: $color-white;
                    }
                    /* stylelint-enable max-nesting-depth */
                }
            }
        }

        &__overlay {
            background-color: transparent;

            .kb-banner__inner + & {
                align-items: center;
                background-color: #{rgba(var(--themeColorBrand), 0.8)};
                display: flex;
                flex-direction: column;

                .kb-banner__text,
                small {
                    text-align: center;
                }
            }
        }
    }
}
