@mixin kb-card {
    .kb-card {
        @at-root {
            [data-whatintent='mouse'] &:hover,
            [data-whatintent='keyboard'] &:focus-within,
            [data-whatintent='touch'] &:focus-within {
                box-shadow: 0 0.625rem 0.625rem #{rgba(var(--themeBlack), 0.2)},
                    0 0 0 0.0625rem $color-brand;
                transform: none;
            }
        }
        border-radius: $border-radius-small;

        &--quiet {
            @at-root {
                [data-whatintent='mouse'] &:hover,
                [data-whatintent='keyboard'] &:focus-within,
                [data-whatintent='touch'] &:focus-within {
                    box-shadow: none;
                }
            }
        }

        &--fullwidth {
            @at-root {
                // When inside a fullbleed container.
                .kb-layout__fullbleed & {
                    /* stylelint-disable max-nesting-depth */
                    @include bp-medium {
                        padding-inline-end: $layout-main-bleed;
                        padding-inline-start: $layout-main-bleed;
                    }
                    /* stylelint-enable max-nesting-depth */
                }

                [data-whatintent='mouse'] &:hover,
                [data-whatintent='keyboard'] &:focus-within,
                [data-whatintent='touch'] &:focus-within {
                    box-shadow: none;
                }
            }
        }

        &--media-inline,
        &--media-inline-alt {
            .kb-card__content {
                @include bp-medium {
                    justify-content: center;
                }
            }
        }

        &--media-inline-alt {
            @include bp-medium {
                padding-block-end: $gutter-xl;
                padding-block-start: $gutter-xl;
            }
            background-color: $color-white;
            padding-block-end: $gutter;
            padding-block-start: $gutter;
        }
    }
}
