@mixin kb-form {
    .kb-form {
        &__title,
        &__description {
            text-align: center;
        }

        &__description {
            @include fluid-type-default;
            font-family: $font-family-title;
            text-transform: uppercase;
        }

        &__label {
            span {
                font-size: $font-size-s;
            }
        }

        &__select {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" style="fill: rgb(0, 9, 91)"><path d="M20,40l2.8-2.8L50,64.3l27.2-27.1L80,40L50,70L20,40z"/></svg>');
        }

        &__input,
        &__select,
        &__textarea {
            background-color: $color-grey-1;
            border-radius: $border-radius-small;
            color: $color-brand;

            &:focus,
            &:required:focus {
                @at-root {
                    /* stylelint-disable max-nesting-depth, no-descending-specificity */
                    [data-whatintent='mouse'] &,
                    [data-whatintent='keyboard'] & {
                        box-shadow: 0 0.5rem 0.75rem #{rgba(
                                var(--themeBlack),
                                0.2
                            )};
                    }
                    /* stylelint-enable max-nesting-depth, no-descending-specificity */
                }
                background-color: $color-white;
            }

            &[type='checkbox'],
            &[type='radio'] {
                @at-root {
                    /* stylelint-disable max-nesting-depth */
                    [data-whatintent='mouse'] &:focus,
                    [data-whatintent='keyboard'] &:focus {
                        box-shadow: none;
                        outline: 0.0625rem solid $color-brand;
                        outline-offset: 0.375rem;
                    }
                    /* stylelint-enable max-nesting-depth */
                }

                &:invalid:required:focus {
                    box-shadow: none;
                    outline-color: $color-negative;
                }
            }

            &[type='range'] {
                @at-root {
                    /* stylelint-disable max-nesting-depth */
                    [data-whatintent='mouse'] &:focus,
                    [data-whatintent='keyboard'] &:focus {
                        background-color: transparent;
                        box-shadow: none;
                    }
                    /* stylelint-enable max-nesting-depth */
                }

                &::-webkit-slider-runnable-track {
                    background-color: $color-brand-alt;
                    height: 0.625rem;
                }

                &::-moz-range-track {
                    background-color: $color-brand-alt;
                    height: 0.625rem;
                }
            }
        }

        &__field--checkbox-custom,
        &__fieldset--checkbox-custom .kb-form__field {
            background-color: $color-white;
            border-radius: $border-radius-small;
            color: $color-brand;

            [type='checkbox'] {
                @at-root {
                    /* stylelint-disable max-nesting-depth, no-descending-specificity */
                    [data-whatintent='mouse'] &:focus,
                    [data-whatintent='keyboard'] &:focus {
                        outline: none;
                    }
                    /* stylelint-enable max-nesting-depth, no-descending-specificity */
                }
            }
        }

        &__field--has-error {
            &:not(:valid):focus,
            &:not(:invalid):focus {
                box-shadow: 0 0.5rem 0.75rem #{rgba(var(--themeBlack), 0.2)};
            }
        }

        :disabled {
            background-color: $color-grey-2;
            color: $color-text-alt;
            opacity: 1;

            &.kb-form__select {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" style="fill: rgb(255, 255, 255)"><path d="M20,40l2.8-2.8L50,64.3l27.2-27.1L80,40L50,70L20,40z"/></svg>');
            }
        }

        .is-disabled {
            &.kb-form__fieldset--checkbox,
            &.kb-form__fieldset--radio {
                span {
                    background-color: $color-grey-2;
                    color: $color-text-alt;
                    margin-inline-start: $gutter;
                    padding: 0 $gutter-xs / 2;
                    position: relative;

                    /* stylelint-disable max-nesting-depth */
                    &:after {
                        background-color: $color-grey-2;
                        content: '';
                        height: 1rem;
                        inset-block-start: 0.125rem;
                        inset-inline-start: -$gutter;
                        position: absolute;
                        width: 1rem;
                    }
                    /* stylelint-enable max-nesting-depth */
                }

                input {
                    @include visually-hide;
                }
            }

            &.kb-form__fieldset--radio {
                span {
                    /* stylelint-disable max-nesting-depth */
                    &:after {
                        border-radius: $border-radius-round;
                    }
                    /* stylelint-enable max-nesting-depth */
                }
            }
        }

        &[id='site-search'] {
            .kb-form__input {
                @at-root {
                    /* stylelint-disable max-nesting-depth */
                    [data-whatintent='mouse'] &:focus,
                    [data-whatintent='keyboard'] &:focus {
                        box-shadow: inset 0 0 0 0.25rem $color-neutral;
                    }
                    /* stylelint-enable max-nesting-depth */
                }
                border-radius: 0;
            }

            .kb-button {
                background-color: $color-brand-alt;
                height: auto;
                margin-inline-end: $gutter-xs;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &__range {
            &__bubble {
                background-color: $color-white;
                border: $border-width $border-style $color-grey-2;
                border-radius: $border-radius-small;
                box-shadow: 0 0.5rem 0.75rem #{rgba(var(--themeBlack), 0.2)};
                color: $color-brand;
                padding: $gutter-xs;
            }
        }
    }
}
