@mixin ui-gallery {
    .ui-gallery {
        // Gallery (full-size images) in a modal lightbox.
        &__modal.ui-modal__overlay {
            .ui-modal__inner {
                background-color: $color-white;
                max-width: 64rem; // This is the width of a full size image
                padding-block-start: $gutter-xl;
            }

            [data-modal-close] {
                background-color: unset;
                color: inherit;
            }

            .ui-image {
                // Prevent vertical scrollbar on screens less than 960px tall.
                @media (max-height: 60em) {
                    max-height: 70vh;
                }
            }
        }
    }
}
