@mixin ui-header {
    .ui-header {
        background-color: $color-white;
        border-block-end: $border-width $border-style #{rgba(
                var(--themeBlack),
                0.2
            )};

        &__search {
            @include bp-medium {
                box-shadow: 0 -#{$border-width} 0 0 #{rgba(
                        var(--themeBlack),
                        0.2
                    )};
            }
        }
    }
}
