@mixin ui-news-card {
    .ui-news-card {
        background-color: $color-white;
        box-shadow: 0 0.625rem 0.625rem #{rgba(var(--themeBlack), 0.1)};

        &:hover {
            .ui-card__media {
                .ui-image {
                    border-start-end-radius: $border-radius-small;
                    border-start-start-radius: $border-radius-small;
                }
            }
        }

        &--block-link {
            background-color: $color-grey-1;
            color: $color-brand-alt;
            font-family: $font-family-title;
            font-weight: 200;
            text-decoration: none;
            text-transform: uppercase;

            .ui-card__title {
                text-align: center;
            }
        }
    }
}
