@mixin ui-promotion-card {
    .ui-promotion-card {
        background-color: $color-white;
        box-shadow: 0 0.625rem 0.625rem #{rgba(var(--themeBlack), 0.1)};

        &:hover {
            .ui-card__media {
                .ui-image {
                    border-start-end-radius: $border-radius-small;
                    border-start-start-radius: $border-radius-small;
                }
            }
        }

        &--secondary {
            background: $color-white;

            .ui-card__title {
                font-family: $font-family-title;
                font-weight: 200;
                letter-spacing: 0.01875rem;
                text-transform: uppercase;
            }
        }

        &--block-link {
            background-color: $color-grey-1;
            font-family: $font-family-title;
            font-weight: 200;
            text-decoration: none;
            text-transform: uppercase;

            .ui-card__title {
                text-align: center;
            }
        }
    }
}
