@mixin kb-product-search {
    .kb-product-search {
        background-color: $color-brand;
        padding-block-start: $gutter-s;

        .kb-form__legend {
            color: $color-white;
            font-family: $font-family-title;
            margin-block-end: 0;
            text-transform: uppercase;
        }

        .kb-button--positive {
            // Bully CSS specificity.
            &.kb-button {
                &[class*='--text'] {
                    background-color: $color-white;
                    border-color: $color-white;
                    color: $color-brand;

                    /* stylelint-disable max-nesting-depth */
                    &:hover {
                        background-color: $color-white;
                        border-color: $color-white;
                        color: $color-brand;
                    }
                    /* stylelint-enable max-nesting-depth */
                }
            }
        }
    }
}
