@mixin ui-product-filter {
    .ui-product-filter {
        background-color: $color-white;

        &.ui-tabs:not(.ui-tabs--vertical) {
            .ui-tabs__tablist {
                background-color: $color-grey-1;
                flex-wrap: wrap;
                padding-block-start: $gutter-xs;
            }

            .ui-tabs__button {
                @include button-secondary;
                margin-block-end: $gutter-xs;

                &[aria-selected='true'] {
                    @include button-primary;
                    box-shadow: none;
                }
            }
        }

        .ui-tabs__content {
            background-color: transparent;
        }
    }
}
