@mixin ui-product-card {
    .ui-product-card {
        background-color: $color-white;
        box-shadow: 0 0.625rem 0.625rem #{rgba(var(--themeBlack), 0.1)};

        &:hover {
            .ui-card__media {
                .ui-image {
                    border-start-end-radius: $border-radius-small;
                    border-start-start-radius: $border-radius-small;
                }
            }
        }

        &--filter {
            box-shadow: none;

            &:hover {
                text-decoration: none;
            }
        }

        .ui-card__title {
            > a {
                color: $color-brand;
            }

            > a:hover {
                text-decoration: none;
            }

            span {
                color: $color-grey-2;
                font-family: $font-family;
                font-size: $font-size;
                text-transform: none;
            }
        }

        &__block-link {
            margin-block-start: $gutter-xs;

            &:hover {
                color: $color-brand-alt;
                text-decoration: none;
            }
        }

        [class$='__specs'] {
            font-size: $font-size-xs;
            /* stylelint-disable no-descending-specificity */
            span {
                margin-inline-end: 0.2rem;
            }

            span:not(:last-child):after {
                content: '•';
            }
            /* stylelint-enable no-descending-specificity */
        }

        &:not(.ui-product-card--filter) {
            [class*='__price'] {
                font-size: $font-size-m;
                font-weight: 700;
            }

            [class$='__price--was'] {
                font-weight: 400;
            }

            [class$='__price--discount'] {
                color: $color-neutral-alt;
            }

            [class$='__price--text'] {
                font-size: $font-size;
                font-weight: 100;
            }
        }

        > .ui-button-group {
            background-color: $color-grey-1;
            padding-block-start: $gutter-xs;
        }
    }
}
