@mixin ui-ratings {
    .ui-ratings {
        &-signpost {
            background-color: #{rgba(var(--themeColorBrand), 0.9)};
        }

        &-banner {
            background-color: $color-white;
            border: 0;
        }
    }
}
