/*
----------------------------------------------------------------------------
@font-face rules.

- 'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/

@font-face {
    font-display: swap;
    font-family: 'AntennaRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/antenna/antenna-regular.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/antenna/antenna-regular.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/antenna/antenna-regular.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'AntennaCondensedExtraLight';
    font-style: normal;
    font-weight: light;
    src: url('./_THEMES/theme1/fonts/antenna/antenna-condensed-extra-light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/antenna/antenna-condensed-extra-light.woff')
            format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'AntennaCondensedLight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/antenna/antenna-condensed-light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/antenna/antenna-condensed-light.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/antenna/antenna-condensed-light.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'FrutigerLight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.ttf')
            format('truetype');
}
