/*
----------------------------------------------------------------------------
Simplified stylesheet for pages that need to be printed (e.g. stock details).

TODO:
- If this gets too big, we could split the code into smaller partials.
- Some of these style rules could be moved into "_print.scss".
----------------------------------------------------------------------------
*/

@media screen {
    .page-printstock {
        .ui-layout__has-max-width {
            margin-block-start: $gutter-xl;
        }

        .ui-header__logo {
            display: block;
            margin: 0 0 $gutter-xs;
        }
    }
}

@media print {
    .page-printstock {
        .ui-product-summary__price,
        .ui-product-summary__finance {
            font-size: 15pt;
            font-weight: bold;
            line-height: 1.3;
        }

        .ui-product-summary__price {
            margin-block-end: 0;
        }

        .ui-product-summary__price--extra,
        .ui-product-summary__smallprint {
            font-size: 8pt;
        }

        .ui-grid--asymmetric {
            > :first-child {
                margin-inline-start: -5pt;
                max-width: 200pt;
            }

            > :last-child {
                max-width: 350pt;
            }

            img {
                display: block;
            }

            .ui-icon {
                display: block;
                height: 1.5em;
                width: 1.5em;
            }
        }

        .ui-product-specs__list {
            display: flex;
            flex-wrap: wrap;
            font-size: 8pt;
            margin-block-start: 5pt;

            > * {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-block-end: 5pt;
                margin-inline-end: 5pt;

                span:first-of-type {
                    display: none;
                }
            }
        }

        .ui-grid {
            .ui-table {
                margin-block-end: 10pt;
                width: calc(50% - 10pt);
            }
        }
    }
}
