/*
----------------------------------------------------------------------------
@font-face rules.

- 'font-display: swap;' ensures that all text will be rendered with a fallback system font until custom font is ready.
----------------------------------------------------------------------------
*/

@font-face {
    font-display: swap;
    font-family: 'FordAntennaRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/fordantenna/fordantenna-regular.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/fordantenna/fordantenna-regular.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/fordantenna/fordantenna-regular.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'FordAntennaCondensedExtraLight';
    font-style: normal;
    font-weight: light;
    src: url('./_THEMES/theme1/fonts/fordantenna/fordantenna-condensed-extra-light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/fordantenna/fordantenna-condensed-extra-light.woff')
            format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'FordAntennaCondensedLight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/fordantenna/fordantenna-condensed-light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/fordantenna/fordantenna-condensed-light.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/fordantenna/fordantenna-condensed-light.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'FrutigerLight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.woff2')
            format('woff2'),
        url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.woff')
            format('woff'),
        url('./_THEMES/theme1/fonts/frutiger/FrutigerLTW23-45Light.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'ProximaNovaCondensedExtraLight';
    font-style: normal;
    font-weight: light;
    src: url('./_THEMES/theme2/fonts/proximanova/proximanova-condensed-extra-light.woff2')
            format('woff2'),
        url('./_THEMES/theme2/fonts/proximanova/proximanova-condensed-extra-light.woff')
            format('woff'),
        url('./_THEMES/theme2/fonts/proximanova/proximanova-condensed-extra-light.ttf')
            format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme2/fonts/opensans/opensans-regular.woff')
            format('woff'),
        url('./_THEMES/theme2/fonts/opensans/opensans-regular.ttf')
            format('truetype');
}
